.container {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    width: 100vw;
}

.sidebar {
    padding-left: 1em;
    min-width: 180px;
}

.contentbar {
    flex-grow: 1;
    padding: 1em;
}