.container {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    width: 100vw;
}

.sidebar {
    padding-left: 1em;
    min-width: 180px;
}

.contentbar {
    flex-grow: 1;
    padding: 1em;
    
}

 .ex-button-tabpanel{
    display: inline-block;
    opacity: 0.6;
    margin-right: 0;
    margin-left: 7px;
    font-size: 18px;
    border: 1px solid red;

}