.sign-in-container{
    margin-top: 2em;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;


}

.sign-in-container form {
    padding: 1em;
    width: 100%;
}

.sign-in-content {
    width: 40vw;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid rgba(#182b20, 0.7);
    
}

